streamlit
numpy
pillow
scikit-learn
matplotlib
seaborn
opencv-python
pytorch-grad-cam

torch==2.1.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.16.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
